* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: serif;
}

h1 {
    text-align: center;
    padding: 20px 0;
    background-color: #F4ECDC;
}

.topnav {
    background-color: #B37F4B;
    padding: 10px 0;
    text-align: center;
}

.topnav a {
    display: inline-block;
    text-align: center;
    color: #362102;
    font-size: 17px;
    padding: 8px 15px;
    text-decoration: none;
}

.brown-block {
    background-color: #8B4513; 
    padding: 10px 0;
    text-align: center;
}

.brown-block a {
    display: inline-block;
    text-align: center;
    color: #FFFFFF; 
    font-size: 17px;
    padding: 8px 15px;
    text-decoration: none;
}

/* ---------------- EVENTS---------------- */

.events {
    background-color: #ffe3ac;
    margin: 15px;
    border-radius: 5px;
    padding-left: 20px;
    padding: 1px ;
    text-align: left;
}

h3.class {
    margin: 2px;
}



